body {
    height: 100vh;
    background-color: black;
}
.centerBox {
    box-sizing: border-box;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
canvas {
}
canvas#board {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
canvas#play {
}
div#manual {
    color: antiquewhite;
    text-align: center;
    background-color: transparent;
    font-size: 1em;
}
button.btn {
    padding: 2em;
    margin: 1em;
}